<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umarket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/icon/umarketIcon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    
</head>
<body>
    <%-include('../partials/navbar')%>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide mainCar" data-bs-ride="carousel">
        <div class="welcome">
          <h1 class="me-5 ms-5 mb-3">Welcome to <span id="u">U</span>market!</h1>
          <div class="welcomeTextP">
            <p>Buy your dreams from anywhere</p>
            <p>Start shopping or <a href="/register" class="btn btn-success ms-2 dada">Sign up</a></p>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1998&q=80." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1465225314224-587cd83d322b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      
    </div>
    <div class="home-products">
      <h2 class="titles">Trending Products</h2>
      <section class="trend">
        <% for (let c of products) {%>
          
          <div class="card cardAnim">
            <div class="image">
              <img src=" <%= c.images[0].url %>" class="card-img-top" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= c.title %> </h5>
              <% if (c.price < 200) {%>
                <p class="card-text text-muted"><b>On sale!</b> $<%= c.price %> </p> 
              <% }else {%>
                <p class="card-text anim"> $<%= c.price %> </p> 
              <% } %> 
                <a href="/products/<%= c._id %>/show" class="btn btnAnim" id="about">About</a>
              </div>
            </div> 
        <% } %> 
      </section>
      <h3 class="titles">Discover</h3>
      <section class="discovery">
        <div class="p-3">
          <div class="discovery-card tech">
            <span class="technology-title">Technology</span>
            <p class="description" >The latest technology</p>
            <span class="description" >The best price</span>
            <a href="/products/Technology" class="technology-button">Discover</a>
          </div>
        </div>
        <div class="p-3">
          <div class="discovery-card cloth">
            <span class="technology-title">Clothing</span>
            <p class="description" >Best brands awaiting</p>
            <span class="description" >Have the look of your dreams</span>
            <a href="/products/Clothing" class="technology-button">Discover</a>
          </div>
        </div>
      </section>
      <h3 class="titles">Popular categories</h3>
      <section class="categories mb-5">
        <div class="categories-div">
          <a class="category-card" href="">
            <i class="bi bi-display"></i>
            <p id="category-title">Technology</p>
          </a>
          <a class="category-card" href="">
            <i class="bi bi-speaker"></i>
            <p id="category-title">Music and instruments</p>
          </a>
          <a class="category-card" href="">
            <i class="bi bi-eyeglasses"></i>
            <p id="category-title">Clothes and accessories</p>
          </a>
          
        </div>
      </section>
    </div>

    <%-include('../partials/footer')%>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/animations.js"></script>
  </body>
</html>