<% layout('layouts/boilerplate')%>
<section class="purchaseSection">
    <div class="purchaseDiv p-3">
        <h3>x<span><%= qty %> </span> <%= product.title %> </h3>
        <p>Buying to: <span class="text-muted"><%= product.author.username %></span></p>
        <div class="purchaseForm">
            <form action="/order/purchased" method="POST" class="validated-form" novalidate>
                <input type="hidden" name="product[id]" value="<%= product._id %>">
                <input type="hidden" name="product[title]" value="<%= product.title %>">
                <input type="hidden" name="product[userId]" value="<%= product.author._id %>">
                <input type="hidden" name="product[qty]" value="<%= qty %>">
                <div class="shipping mt-4">
                    <h5>Choose your shipping method</h5>
                    <div>
                        <input type="radio" id="standardShipping" name="shipping[method]" value="Standard" required>
                        <label for="standardShipping">Standard Shipping $0</label>
                        <p style="color: rgb(38, 202, 147);">(1 month) Get it from <%= date[0] %> <%= date[1] %> to <%= date[2] %>  <%= date[1] %> </p> 
                        <!--  -->
                    </div>
                    <div>
                        <input type="radio" id="weekShipping" name="shipping[method]" value="Week">
                        <label for="weekShipping">7 days Shipping $4.99</label>
                        <p style="color: rgb(38, 202, 147);">(7 days) Get it next <%= date[3] %>  </p>
                    </div>
                    <div class="premium mb-5">
                        <input type="radio" id="premiumShipping" name="shipping[method]" value="Premium">
                        <label for="premiumShipping">Premium Shipping</label>
                        <p style="color: #212529;">(1 day) Get it tomorrow <%= date[4] %>  </p>
                    </div>
                    <p class="totalPrice">Total: <span style="color: rgb(38, 202, 147);">$</span><span id="spanPrice"><%= price%></span></p>
                    <input type="hidden" class="priceEncoded" name="user[totalPrice]">
                  </div>
                  <hr>
                <div class="payment">
                    <h6>Billing information</h6>
                    <div class="buyerInfo mt-5 me-5">
                        
                        <label for="name">First name</label>
                        <input class="form-control mb-3" type="text" name="user[name]" id="name" placeholder="First name" required>
                        <div class="invalid-feedback  mb-3">
                            First name is required.
                        </div>

                        <label for="last">Last name</label>
                        <input class="form-control mb-3" type="text" name="user[lastName]" id="last" placeholder="Last name" required>
                        <div class="invalid-feedback  mb-3">
                            Last name is required.
                        </div>

                        <label for="country">Country</label>
                        <select class="form-control mb-3" name="user[country]" id="country">
                            <option value="brazil">Brazil</option>
                            <option value="chile">Chile</option>
                            <option value="china">China</option>
                            <option value="france">France</option>
                            <option value="germany">Germany</option>
                            <option value="mexico">Mexico</option>
                            <option value="spain">Spain</option>
                            <option value="usa" selected>United States</option>
                        </select>
                        
                        <label for="city">City</label>
                        <input class="form-control mb-3" type="text" name="user[city]" id="city" placeholder="City" required>
                        <div class="invalid-feedback  mb-3">
                            City is required.
                        </div>

                        <label for="address">Address</label>
                        <input class="form-control mb-3" type="text" name="user[address]" id="address" placeholder="Adress" required>
                        <div class="invalid-feedback  mb-3">
                            Address is required.
                        </div>

                        <label for="postal">Postal code</label>
                        <input class="form-control" type="text" name="user[postal]" id="postal" placeholder="Postal code" minlength="1" maxlength="9" required>
                        <div class="invalid-feedback  mb-3">
                            Please enter a valid postal code.
                        </div>
                    </div>
                    <div class="creditCard mt-5">
                        <label for="credit">Card number</label>
                        <input class="form-control mb-3" type="tel" name="user[credit]" id="credit" placeholder="xxxx xxxx xxxx xxxx" required>

                        <label for="expiry">Expiry date</label>
                        <input class="form-control" type="number" name="user[month]" id="expiry" placeholder="Month" min="1" max="12" required>
                        <div class="invalid-feedback  mb-3">
                            Please enter a valid month.
                        </div>
                        <input class="form-control mb-3" type="number" name="user[year]" id="expiry" placeholder="Year" min="2021" max="2041" required>
                        <div class="invalid-feedback mb-3">
                            Please enter a valid year.
                        </div>
                        <label for="cvv">CVV</label>
                        <input class="form-control" type="number" name="user[cvv]" id="cvv" min="100" max="999" required>
                        <div class="invalid-feedback">
                            Credit card number must be between 3 and 4 digits.
                        </div>
                    </div>
                </div>  

                <button class="btn btn-success">Purchase</button>
            </form>
        </div>
    </div>

</section>
<script src="/javascripts/shippingMethod.js"></script>