<% layout('layouts/boilerplate')%>
<section class="purchaseSection">
    <div class="purchaseDiv p-3">
        <h3><%= product.title %> </h3>
        <p>Buying to: <span class="text-muted"><%= product.author.username %></span></p>
        <p>Total price: <span style="color: rgb(52, 179, 136);"><%= product.price %></span>  </p>
        <div class="purchaseForm">
            <form action="#">
                <input type="hidden" name="product[id]" value="<%= product._id %>">
                <input type="hidden" name="product[title]" value="<%= product.title %>">
                <input type="hidden" name="product[price]" value="<%= product.price %>">
                <input type="hidden" name="user[id]" value="<%= product.author._id %>">
                <div class="shipping mt-4">
                    <h5>Choose you shipping method</h5>
                    <div>
                        <input type="radio" id="standardShipping" name="shipping[method]" value="standard">
                        <label for="standardShipping">Standard Shipping</label>
                        <p style="color: rgb(38, 202, 147);">(1 month) Get it from <%= date[0] %> <%= date[1] %> to <%= date[2] %>  <%= date[1] %> </p> 
                        <!--  -->
                    </div>
                    <div>
                        <input type="radio" id="weekShipping" name="shipping[method]" value="week">
                        <label for="weekShipping">7 days Shipping</label>
                        <p style="color: rgb(38, 202, 147);">(7 days) Get it next <%= date[3] %>  </p>
                    </div>
                    <div class="premium mb-5">
                        <input type="radio" id="premiumShipping" name="shipping[method]" value="premium">
                        <label for="premiumShipping">Premium Shipping</label>
                        <p style="color: #212529;">(1 day) Get it tomorrow <%= date[4] %>  </p>
                    </div>
                  </div>
                <div class="payment">
                    <h6>Billing information</h6>
                    <div class="buyerInfo mt-5 me-5">
                        
                        <label for="name">First name</label>
                        <input class="form-control mb-3" type="text" name="name" id="name" placeholder="First name">
                        
                        <label for="last">Last name</label>
                        <input class="form-control mb-3" type="text" name="last" id="last" placeholder="Last name">
                        
                        <label for="country">Country</label>
                        <select class="form-control mb-3" name="country" id="country">

                        </select>
                        
                        <label for="city">City</label>
                        <input class="form-control mb-3" type="text" name="city" id="city" placeholder="City">
                        
                        <label for="address">Address</label>
                        <input class="form-control mb-3" type="text" name="address" id="address" placeholder="Adress">
                        
                        <label for="postal">Postal code</label>
                        <input class="form-control mb-3" type="number" name="postal" id="postal" placeholder="Postal code">

                    </div>
                    <div class="creditCard mt-5">
                        <label for="credit">Card number</label>
                        <input class="form-control mb-3" type="tel" name="credit" id="credit" placeholder="xxxx xxxx xxxx xxxx">

                        <label for="expiry">Expiry date</label>
                        <input class="form-control" type="number" name="month" id="expiry" placeholder="Month">
                        <input class="form-control" type="number" name="year" id="expiry" placeholder="Year">

                        <label for="cvv">CVV</label>
                        <input class="form-control mb-3" type="number" name="cvv" id="cvv">
                    </div>
                </div>  

                <button class="btn btn-success">Purchase</button>
            </form>
        </div>
    </div>

</section>