<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/purchasedProduct.css"> 

    <title>Congratulations</title>
    <!-- <link rel="stylesheet" href="stylesheets/login.css"> -->
</head>
<body class="purchasedBody">
    <section class="congratsSec">
        <div class="congratsDiv p-3">
            <h1>Thank you, your order has been placed succesfully!</h1>
            <h5>Order number: <%= foundOrder.product._id %> </h5>
            <h6>Status: <span style="color: rgb(35, 248, 177);">Shipping now</span></h6>
            <button class="btn btn-warning btnDetails">See details</button>
            <div class="purchaseDetails mt-4 p-2 mb-3" hidden>
                <h2>Order details</h2>
                <ul>
                    <li><b>Product/s:</b> x<%= foundOrder.quantity %> <%= foundOrder.product.title %> </li>
                    <li><b>Shipping method:</b> <%= foundOrder.method %> </li>
                    <li><b>Address:</b> <%= foundOrder.address %> </li>
                </ul>
            </div>
            <a href="/products" class="btn btn-secondary">Continue shopping</a>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="/javascripts/purchaseDetails.js"></script>
</body>
</html>