<% layout('layouts/boilerplate')%>
<section class="productCon">
    <div class="prodDiv mb-3">
        <div class="carouImgs">
            <div class="carou">
                <% foundProduct.images.forEach((img, i) => {  %>
                   
                    <img src="<%= img.url%>" alt="">
                
                <% }) %>
            </div>
        </div>
        <div class="imageDiv">
            <div class="square">
                <img src="<%= foundProduct.images[0].url %> " alt="">
            </div>    
            </div>
        <div class="prodInfo">
            <% if (currentUser && foundProduct.author._id.equals(currentUser._id)) {%>
                <div class="edit-product">
                    <h2 class="prodH1 mt-3"><%= foundProduct.title %> </h2> 
                    <a href="/products/<%= foundProduct._id%>/edit"><i class="bi bi-pencil-square mt-4"> Edit product</i></a>
                </div>
                
            <% } else {%>
                <div class="edit-product">
                    <h2 class="prodH1 mt-3"><%= foundProduct.title %> </h2>
                </div>
                 
            <% } %> 
                
            <p class="mb-1">By <a href="/profile/<%= foundProduct.author._id %>"><%= foundProduct.author.username %></a></p>
            <p><%= foundProduct.author.reputation %> U-Points</p>
            <br>
            <span class="text-muted"><%= foundProduct.categories %></span>
            
            <hr>
            <input type="number" class="product[stock]" id="stock" value="<%= foundProduct.stock %>" hidden>
            

            <% if (foundProduct.stock > 0) {%>
                <% if (foundProduct.price < 200) {%> 
                    <span class="stock-message">In Stock.</span>
                    <h3 class="pe-3 productPrice"><b>On sale!</b>$ <span id="price"><%= foundProduct.price %></span> </h3>
                    <label for="qty" class="qty-label">Select quantity:</label>
                    <select class="form-control mb-3 selectQty" name="user[quantity]" id="qty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select> 
                    <% } else {%>
                    <span class="stock-message">In Stock.</span>    
                    <h3 class="mb-3 productPrice" style="color: rgb(127, 255, 212);">$ <span id="price"><%= foundProduct.price %></span></h3>
                    <label for="qty" class="qty-label">Select quantity:</label> 
                    <select class="form-control mb-3 selectQty" name="user[quantity]" id="qty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <!-- Here I could have used EJS and a for loop to display qty 1 to 10 instead of hardcoding, but there are 10 posible values and are not too much -->    
                
                    <% } %>     
            
            <% } else {%>
                <span class="no-stock">Currently unavailable</span> 
            <% } %> 
            <div class="product-description">
                <h5 class="mt-3">Product description</h4>
                <p class="mb-4 productDescription"><%= foundProduct.description %></p>
            </div>
            <% if (!currentUser) {%>
                <form action="/order/purchase/<%= foundProduct._id %>" class="toPurchaseForm" method="GET">
                    <input type="hidden" name="product[id]" value="<%= foundProduct._id %>">
                    <input type="hidden" name="product[title]" value="<%= foundProduct.title %>">
                    <input type="hidden" class="encodedPriceForm" name="product[price]" value="<%= foundProduct.price %>">
                    <input type="hidden" name="user[id]" value="<%= foundProduct.author._id %>">
                    <input type="hidden" class="encodedQty" name="product[qty]" value="1">
                    <button class="btn btn-success mb-3 btnBuy">Buy</button>
                </form>
                <form action="/cart">
                    <input type="hidden" name="product[id]" value="<%= foundProduct._id %>">
                    <input type="hidden" name="product[title]" value="<%= foundProduct.title %>">
                    <input type="hidden" name="product[price]" value="<%= foundProduct.price %>">
                    <input type="hidden" name="user[id]" value="<%= foundProduct.author._id %>">
                    <button class="btn btn-warning mb-4 btnCart">Add to cart</button>
                </form>
            <% } else if (currentUser && !foundProduct.author._id.equals(currentUser._id)) {%>
                <form action="/order/purchase/<%= foundProduct._id %>" class="toPurchaseForm" method="GET">
                    <input type="hidden" name="product[id]" value="<%= foundProduct._id %>">
                    <input type="hidden" name="product[title]" value="<%= foundProduct.title %>">
                    <input type="hidden" class="encodedPriceForm" name="product[price]" value="<%= foundProduct.price %>">
                    <input type="hidden" name="user[id]" value="<%= foundProduct.author._id %>">
                    <input type="hidden" class="encodedQty" name="product[qty]" value="1">
                    <button class="btn btn-success mb-3 btnBuy">Buy</button>
                </form>
                <form action="#">
                    <input type="hidden" name="product[id]" value="<%= foundProduct._id %>">
                    <input type="hidden" name="product[title]" value="<%= foundProduct.title %>">
                    <input type="hidden" name="product[price]" value="<%= foundProduct.price %>">
                    <input type="hidden" name="user[id]" value="<%= foundProduct.author._id %>">
                    <button class="btn btn-warning mb-4 btnCart">Add to cart</button>
                </form>
            <% } else {%>
                <script>
                    const qtyOption = document.querySelector('.selectQty');
                    const stockStatus = document.querySelector('.stock-message');
                    const qtyLabel = document.querySelector('.qty-label');
                    qtyOption.setAttribute('hidden', 'hidden');
                    stock.setAttribute('hidden', 'hidden');
                    qtyLabel.setAttribute('hidden', 'hidden');
                </script>
            <% } %>     
            <!-- To prevent the product author buying his own product -->
        </div> 
    </div>
    <% if (currentUser && !foundProduct.author._id.equals(currentUser._id)) {%>
        <div class="reviewDiv" id="review-div">
            <form action="/products/<%=foundProduct._id%>/reviews" method="POST" class="validated-form" novalidate>
                <p style="font-size: 1.5rem;">Leave a review</p>
                <div class="mt-4">
                    <label for="title">Review title</label><br>
                    <input type="text" class="mb-4 mt-3" id="title" name="review[title]" required>
                </div>
                <div>
                    <label for="stars">Rate this product:</label><br>
                    <input type="number" class="mb-3 mt-3" id="starts" name="review[rating]" min="1" max="5" required>
                </div>
                <div>
                    <textarea class="mb-3 mt-3" id="body" name="review[body]" rows="5" cols="50" placeholder="your review here..." required></textarea>
                    
                </div>
                <button class="btn align-self-center btnReview">Submit review</button>
            </form>
        </div>
    <% } else if (currentUser && foundProduct.author._id.equals(currentUser._id)){%>
        <span>You can't post a review about your product</span>
    <% } else {%>
        <p class="logReview mt-3">Log in to leave a review</p>
        <a href="/login" class="btn btn-secondary">Log in</a>
    <% } %>     
    <div class="reviews mt-5">
        <h4>Reviews</h4>
        <% if (foundProduct.reviews.length) {%> 
            <!-- If there is any review in the product -->
            
            <% for (let r of foundProduct.reviews) {%>
                <div class="review mb-3">
                    <div class="reviewBody">
                        <% for (let i = 0; i < r.rating; i++) {%>
                            <i class="bi bi-star-fill review-stars"></i>
                            <% if (i === r.rating-1) {%>
                                <% for (let j = r.rating; j < 5; j++) {%>
                                    <i class="bi bi-star review-stars"></i>
                                <% } %>     
                            <% } %>     
                        <% } %>     
                        <p><b><%= r.title %> </b> - By <span class="text-muted"><%= r.author.username %></span>  </p>
                        <p class="mb-2 review-text"> <%= r.body %> </p>
                    </div>
                    <% if (currentUser && r.author.equals(currentUser._id)) {%> 
                        <!-- If there is a user logged in, and the review author ID is equal to the current user ID, show the delete button-->
                        <div class="divDeleteReview">
                            <form action="/products/<%= foundProduct._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST" class="deleteReview">
                                <button><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    <% } %>     
                </div>
             <% } %>    
        <% } else {%>
            <p>No reviews to show</p> 
        <% } %>     
    </div>
       
</section>
<script src="/javascripts/productQuantity.js"></script>